---
import Layout from "../layouts/Layout.astro"
import DownloadCard from "../components/DownloadCard.astro"

const styles = {
    h1: "font-bold text-4xl text-center my-2",
    downloadDiv: "download w-full flex flex-col items-center gap-y-5",
    mainContentDiv: "main-content flex flex-col justify-center gap-y-3 md:gap-y-4 text-center bg-black/50 w-[95%] md:w-3/4 h-auto md:h-[26rem] lg:h-[23rem] p-4 rounded-md shadow-lg border-2 ",
    olderDownloadsP: "older-version-text font-bold mt-5 mb-2 w-[70%] md:w-[30%] text-center py-2 border rounded-md shadow-md bg-black/50",
    OlderDownloadsDiv: "older-downloads flex gap-x-5 flex-wrap justify-center gap-y-4 mb-2"
}

---

<title>Download</title>
<Layout title="Download">
    
    <h1 class={styles.h1}>Download</h1>

    <div class={styles.downloadDiv}>
        <!-- download page that looks like the node.js installer page -->
        <div class={styles.mainContentDiv}>
        <p>Download the latest version of the CubeScript compiler for Windows.</p>
            <p>Version 1.2</p>
            <p>The Expanse Update!</p>
            <p>you can view the patchnotes <a rel="prefetch"  href="/Patchnotes">here</a></p>
           
        </div> 
        
        <DownloadCard title={"Windows and linux"} version={"Version 1.2.2, the Expanse Update"} link={"https://github.com/charlie-sans/CVSM-Repo/releases/download/1.2.2/CubeScriptv1.2.2.zip"}  />
        
        <p class={styles.olderDownloadsP}>Looking for a older version?</p>
        
        <div class={styles.OlderDownloadsDiv}>
            <DownloadCard title={"CubeScript"} version={"Version 1.2.1, the Broken Update"} link={"https://github.com/charlie-sans/CVSM-Repo/releases/download/v1.2.1/CSVM_Linux.zip"} />            
            <DownloadCard title={"CubeScript"} version={"Version 1.2"} link={"https://github.com/charlie-sans/CVSM-Repo/releases/download/v1.2/CubeScript-1.2.zip"} />
        </div>
            
    </div>


</Layout>

<style>

* {
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}
/* 
h1 {
    font-size: 2rem;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    row-gap: 1.5rem;
}

.older-version-text {
    width: 25rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-content {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding: 1rem 2rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.8rem;
    border-radius: 5px;
}

.main-content p {
    margin: 0;
    text-align: left;
}

.older-version-text {
    font-size: 20px;
}

.older-downloads {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1.5rem;
    width: 100%;
} */

</style>