---
const { title, version, link } = Astro.props;

const styles = {
  div: "download-card shadow-md bg-amber-600/60 w-[20rem] h-[10rem] p-4 rounded-md border-[3px] border-white flex flex-col justify-center items-center gap-y-2",
  h2: "text-xl font-bold",
  a: "bg-blue-700 text-white p-2 w-1/2 text-center rounded-md shadow-sm hover:shadow-lg font-bold"
}

---


<div class={styles.div}>
  <h2 class={styles.h2}>{title}</h2>
  <p>{version}</p>
  <a rel="prefetch" class={styles.a} href={link}>Download</a>
</div>

<!-- <style>
  .download-card:hover {
    scale: 1.05;
    margin: 0px 10px;
  }

  .download-card {
    background-color: burlywood;
    border: 2px solid white;
    width: 20rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 18px -2px rgba(214, 214, 214, 0.75);
    -webkit-box-shadow: 10px 10px 18px -2px rgba(214, 214, 214, 0.75);
    -moz-box-shadow: 10px 10px 18px -2px rgba(214, 214, 214, 0.75);
  }

  a {
    background-color: blue;
    width: 40%;
    height: 2rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 800ms ease-in-out;
  }

  a:hover {
    box-shadow: -1px 1px 16px -1px rgba(46,46,46,0.75);
-webkit-box-shadow: -1px 1px 16px -1px rgba(46,46,46,0.75);
-moz-box-shadow: -1px 1px 16px -1px rgba(46,46,46,0.75);
  }

  a:active {
    box-shadow: none;
    scale: 0.95;
  }

  h2 {
    margin: 0;
  }

  p {
    font-weight: bold;
  }
</style> -->
